/* .MuiStack-root.mui-nen11g-MuiStack-root {
  display: none;
} */

.gradient-text {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 20px;
}

/* Global scrollbar styling */
::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

/* Firefox scrollbar styling */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

/* WelcomeBox.css */
.hover-glow {
  transition: box-shadow 0.3s ease-in-out;
}

.hover-glow:hover {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.7); /* Adjust color and intensity as needed */
}

pre code {
  white-space: pre-wrap !important;
}
